/*Common properties*/
*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}
.wrap{
    margin: 0 auto;
    width: 90%;
}
/*Header properties*/
header{
    background: #ffA500;
    min-height: 80px;
    padding: 10px;
}
header p{
    font-size: 12pt;
    margin-bottom: 1%;
}
header h1{
    font-size: 30pt;
    font-weight: 300;
}
/*Properties of content*/
.column{
    width: 31.3%;
    margin: 1%;
    float: left;
}
p{
   margin: 2% 0;
}
img{
    width: 45%;
    float: left;
    margin: 1%;
}
/*Adaptive properties*/
@media screen and (max-width: 500px) {
    .column{
        width: 98%;
        margin: 1%;
    }
}
@media screen and (max-width: 960px) {
    .wrap{
        width: 100%;
    }
    img{
        width: 98%;
        margin: 1%;
    }
}