/*Common properties*/
*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}
.wrap{
    margin: 0 auto;
    width: 90%;
}
/*Header properties*/
h1{
    background: #ffA500;
}
/*Properties of content*/
.column{
    width: 30%;
    margin: 1%;
    float: left;
}
p, .img{
   margin: 2% 0;
}
.img{
    width: 45%;
    float: left;
    margin: 1%;
}
img{
    width: 100%;
}
/*Adaptive properties*/
@media screen and (max-width: 500px) {
    .column{
        width: 98%;
        margin: 1%;
    }
}
@media screen and (max-width: 960px) {
    .img{
        width: 98%;
        margin: 1%;
    }
}